@import "./root.scss";

@font-face {
  font-family: "Inter";
  src: url("../../../public/fonts/Inter-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Inter";
  src: url("../../../public/fonts/Inter-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../../../public/fonts/Inter-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Inter";
  src: url("../../../public/fonts/Inter-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Inter";
  src: url("../../../public/fonts/Inter-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("../../../public/fonts/Inter-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../../../public/fonts/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../../../public/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../../../public/fonts/Inter-Thin.ttf");
  font-weight: 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.swiper-pagination-bullet {
  background-color: var(--white) !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--gray) !important;
}
