.swiper-pagination-bullet {
  background-color: var(--gray) !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary) !important;
}
.count {
  display: flex;
}
