.flex {
  display: flex;
}

.card_container {
  margin: px;
  flex-direction: column;
  min-width: 320px;
  height: 468px;
  background-color: var(--background);
  padding: 16px;
  position: relative;
}

.discount {
  display: flex;
  width: 108px;
  height: 24px;
  background-color: var(--white);
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  border-radius: 4px;
  span {
    color: var(--primary);
    font-size: 14px;
    font-weight: 500;
  }
}

.title {
  color: var(--black);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 8px;
}
.slider {
  background-color: var(--primary);
  width: 100%;
  height: 200px;
}

.rating {
  width: 62px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #fff;
  border-radius: 4px;
  padding: 4px;
  font-weight: 600;
}
.images {
  min-width: 288px;
  height: 288px;
  object-fit: cover;
  cursor: grab;
}
.priceContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 16px;
  span {
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;
    text-decoration-line: line-through;
  }
}

.buttonPrice {
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  width: 71px;
  height: 24px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.moreButton {
  border: none;
  background-color: transparent;
  color: var(--primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}
.moreButton:hover {
  color: var(--hover_text);
}
