.skeleton {
  background-color: #f3f4f6;
  background-image: linear-gradient(
    90deg,
    #f3f4f6,
    rgba(150, 161, 223, 0.65),
    #f3f4f6
  );
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 2px;
  animation: skeleton 1200ms ease infinite;
  pointer-events: none;
}

@keyframes skeleton {
  from {
    background-position: -200px 0;
  }

  to {
    background-position: calc(200px + 100%) 0;
  }
}
